*{
    padding: 0;
    margin: 0;
}

canvas{
    background: rgb(108, 107, 107);
    display: block;
    margin: 0 auto;
}

/* Media Query for small screens */
@media screen and (max-width: 768px) {
    canvas {
        width: 100%;
        max-width: 400px; 
    }
}
